name: Setup GitHub Pages

on:
  workflow_dispatch:

jobs:
  enable-pages:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Enable GitHub Pages
        uses: actions/configure-pages@v4
        with:
          enablement: true